@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    border: 1px solid red;
    width: 75vw;
    margin: 32px auto 0;
}

.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-top__heading {
    font-size: 2rem;
}

.header-top-nav ul {
    display: flex;
    
}

.header-top-nav ul li {
    display: flex;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px;
    text-decoration: none;
    color: gray;
}

.header-top-nav ul a{
    text-decoration: none;
    color: gray;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 8px;
}

.main-content{
    display: flex;
    justify-content: space-between;
}

.footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}