@charset "utf-8";
/* CSS Document */

*{
    text-decoration: none;
    font-family:sans-serif
}

h5{
    text-align: center;
}

header {
    text-align: center;
    margin-top: 7%;
}

.lines{
    border-bottom: 1px grey solid;
}

a{
    background-color: rgb(255, 255, 255);
    padding: 0.3%;
    border:black solid 1px;
    margin: 0.25%;
    border-radius: 3px;
    color: grey;

}

.published{
    background-color: rgba(128, 128, 128, 0.501);
    border-radius: 5px;
    padding: 0.5%;
    margin-right: 40%;
}

li{
    text-decoration: none;
}

.recentPost{
    float: right;
    margin-top: -21.4%;
    margin-right: 15.8%;
    border-left: grey 1px solid;
}

.grey{
    color: grey;
}


h6{
    margin-top: 5%;
    text-align: center;
}